interface Loopback 0
 ip address {{ interfaces.Loopback0.address }} 255.255.255.255

interface Tunnel10
 bandwidth 10000
 ip address {{ interfaces.Tunnel10.address }} {{ interfaces.Tunnel10.mask }} 
 no ip redirects
 ip mtu 1400
 ip tcp adjust-mss 1360
 tunnel source Ethernet1/1
 tunnel mode gre multipoint
 ip nhrp authentication cisco123
 ip nhrp network-id 101
 tunnel key 6783
 ip nhrp holdtime 600
 ip nhrp redirect
 do wr